<a href="https://colab.research.google.com/github/lucifernandes/acidentesPRF/blob/master/scrub_explore_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dados abertos sobre Acidentes da Polícia Rodoviária Federal

##Etapa Limpeza

In [ ]:
import pandas as pd

url = 'https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases'
bases = {'Ocorrencias': {'folder': 'Agrupados%20por%20ocorrencia', 
                         'files': ['datatran2007.csv', 'datatran2008.csv', 'datatran2009.csv', 'datatran2010.csv', 'datatran2011.csv', 'datatran2012.csv', 'datatran2013.csv', 'datatran2014.csv', 'datatran2015.csv', 'datatran2016_atual.csv', 'datatran2017.csv', 'datatran2018.csv', 'datatran2019.csv', 'datatran2020.csv']}, 
         'Pessoas': {'folder': 'Agrupados%20por%20pessoa', 
                     'files': ['acidentes2007.csv', 'acidentes2008.csv', 'acidentes2009.csv', 'acidentes2010.csv', 'acidentes2011.csv', 'acidentes2012.csv', 'acidentes2013.csv', 'acidentes2014.csv', 'acidentes2015.csv', 'acidentes2016_atual.csv', 'acidentes2017.csv', 'acidentes2018.csv', 'acidentes2019.csv', 'acidentes2020.csv']}, 
         'Acidentes': {'folder': 'Agrupados%20por%20pessoa%20-%20Todas%20as%20causas%20e%20tipos%20de%20acidentes%20(desde%202017)', 
                       'files': ['acidentes2017_todas_causas_tipos.csv', 'acidentes2018_todas_causas_tipos.csv', 'acidentes2019_todas_causas_tipos.csv', 'acidentes2020_todas_causas_tipos.csv']}
         }

In [ ]:
df = pd.read_csv(f'{url}/{bases["Ocorrencias"]["folder"]}/{bases["Ocorrencias"]["files"][0]}?raw=true', encoding='ISO-8859-1', sep=';')
#df = pd.read_csv(f'{url}/{bases["Pessoas"]["folder"]}/{bases["Pessoas"]["files"][0]}?raw=true', encoding='ISO-8859-1', sep=',')
#df = pd.read_csv(f'{url}/{bases["Acidentes"]["folder"]}/{bases["Acidentes"]["files"][0]}?raw=true', encoding='ISO-8859-1', sep=';')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127675 entries, 0 to 127674
Data columns (total 26 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      127675 non-null  int64
 1   data_inversa            127675 non-null  object
 2   dia_semana              127675 non-null  object
 3   horario                 127675 non-null  object
 4   uf                      127675 non-null  object
 5   br                      127675 non-null  object
 6   km                      127675 non-null  object
 7   municipio               127675 non-null  object
 8   causa_acidente          127675 non-null  object
 9   tipo_acidente           127675 non-null  object
 10  classificacao_acidente  127675 non-null  object
 11  fase_dia                127675 non-null  object
 12  sentido_via             127675 non-null  object
 13  condicao_metereologica  127675 non-null  object
 14  tipo_pista              127675 non-null  object
 15  tracado_via             127675 non-null  object
 16  uso_solo                127675 non-null  object
 17  ano                     127675 non-null  int64
 18  pessoas                 127675 non-null  int64
 19  mortos                  127675 non-null  int64
 20  feridos_leves           127675 non-null  int64
 21  feridos_graves          127675 non-null  int64
 22  ilesos                  127675 non-null  int64
 23  ignorados               127675 non-null  int64
 24  feridos                 127675 non-null  int64
 25  veiculos                127675 non-null  int64
dtypes: int64(10), object(16)
memory usage: 25.3+ MB

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
for i in range(len(bases['Ocorrencias']['files'])):
  print(f'{url}/{bases["Ocorrencias"]["folder"]}/{bases["Ocorrencias"]["files"][i]}?raw=true')

print('-' * 100)

for arq in bases['Ocorrencias']['files']:
  print(f'{url}/{bases["Ocorrencias"]["folder"]}/{arq}?raw=true')

https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2007.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2008.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2009.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2010.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2011.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2012.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2013.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2014.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2015.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2016_atual.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2017.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2018.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2019.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2020.csv?raw=true
----------------------------------------------------------------------------------------------------
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2007.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2008.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2009.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2010.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2011.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2012.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2013.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2014.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2015.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2016_atual.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2017.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2018.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2019.csv?raw=true
https://media.githubusercontent.com/media/lucifernandes/acidentesPRF/master/Bases/Agrupados%20por%20ocorrencia/datatran2020.csv?raw=true

In [ ]:
df

             id data_inversa dia_semana  ... ignorados feridos veiculos
0            10   11/06/2007    Segunda  ...         0       4        6
1            10   11/06/2007    Segunda  ...         0       4        6
2       1032898   13/08/2007    Segunda  ...         0       1        1
3       1051130   12/02/2007    Segunda  ...         0       3        1
4       1066824   20/11/2007      Terça  ...         0       1        1
...         ...          ...        ...  ...       ...     ...      ...
127670   956310   15/12/2007     Sábado  ...         0       4        1
127671   964123   16/06/2007     Sábado  ...         0       1        2
127672   985245   11/12/2007      Terça  ...         0       6        3
127673   987413   09/05/2007     Quarta  ...         0       3        2
127674   988556   07/02/2007     Quarta  ...         0       0        2

[127675 rows x 26 columns]

In [ ]:
df.isnull().sum() # quantos observações NULL existem no dataset por atributo

id                        0
data_inversa              0
dia_semana                0
horario                   0
uf                        0
br                        0
km                        0
municipio                 0
causa_acidente            0
tipo_acidente             0
classificacao_acidente    0
fase_dia                  0
sentido_via               0
condicao_metereologica    0
tipo_pista                0
tracado_via               0
uso_solo                  0
ano                       0
pessoas                   0
mortos                    0
feridos_leves             0
feridos_graves            0
ilesos                    0
ignorados                 0
feridos                   0
veiculos                  0
dtype: int64

In [ ]:
df.describe()

                 id       ano  ...        feridos       veiculos
count  1.276750e+05  127675.0  ...  127675.000000  127675.000000
mean   2.570106e+05    2007.0  ...       0.636828       1.687104
std    6.161403e+05       0.0  ...       1.335401       0.697045
min    1.000000e+01    2007.0  ...       0.000000       1.000000
25%    2.138025e+05    2007.0  ...       0.000000       1.000000
50%    2.529030e+05    2007.0  ...       0.000000       2.000000
75%    2.898695e+05    2007.0  ...       1.000000       2.000000
max    8.338491e+07    2007.0  ...      62.000000      19.000000

[8 rows x 10 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127675 entries, 0 to 127674
Data columns (total 26 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      127675 non-null  int64
 1   data_inversa            127675 non-null  object
 2   dia_semana              127675 non-null  object
 3   horario                 127675 non-null  object
 4   uf                      127675 non-null  object
 5   br                      127675 non-null  object
 6   km                      127675 non-null  object
 7   municipio               127675 non-null  object
 8   causa_acidente          127675 non-null  object
 9   tipo_acidente           127675 non-null  object
 10  classificacao_acidente  127675 non-null  object
 11  fase_dia                127675 non-null  object
 12  sentido_via             127675 non-null  object
 13  condicao_metereologica  127675 non-null  object
 14  tipo_pista              127675 non-null  object
 15  tracado_via             127675 non-null  object
 16  uso_solo                127675 non-null  object
 17  ano                     127675 non-null  int64
 18  pessoas                 127675 non-null  int64
 19  mortos                  127675 non-null  int64
 20  feridos_leves           127675 non-null  int64
 21  feridos_graves          127675 non-null  int64
 22  ilesos                  127675 non-null  int64
 23  ignorados               127675 non-null  int64
 24  feridos                 127675 non-null  int64
 25  veiculos                127675 non-null  int64
dtypes: int64(10), object(16)
memory usage: 25.3+ MB

In [ ]:
# verifica que não há dados duplicados
len(df.duplicated())

127675

In [ ]:
# Observações para a reunião (Hugo)

# Tranformação dos atributos categóricos para numéricos (One-hot ou colocar números)
# Escolher atributos que podem gerar enviesamento(Naturalidade, Sexo) 
# Escolher atributos que serão estimados (Classificação e regressão)
# Normalização/padronização dos atributos numéricos
# Escolher estratégias para solução de dados faltantes (Ignorada, Não informada, (null), NULL, NaN)
# Analisar possível problema de Id's repetidos

# Base de Pessoas
# pesid repetido
#   Naturalidade = "Não Informado"
#   Marca = (null)

# Base de Ocorrencias 
# Id repetido
#   classificacao_acidente = (null)
#   condicao_metereologica = "Ignorada"

##Etapa Exploração